.container {
  position: relative;
  height: 480px;
  width: 480px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.cell {
  flex: 0 0 calc(100% / var(--num-columns));
  height: calc(100% / var(--num-rows));
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* first implementation of color change below */
/* .my-color-class {
  background-color: red;
} */
